/* .card1 {
  height: 200px;
  width: 200px;
} */

.card-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 5%;
  width: 80%; */
  text-align: center;
}

.card {
  border: 2px solid;
  padding: 10px;
  margin-bottom: 2%;
}
